setuptools<82
spacy==3.8.11
click
markupsafe
radon
xlrd
openpyxl
lxml
ipykernel
pandas
flask
stopit
papermill
gunicorn
altair
altair_saver
vega
vega_datasets
beautifulsoup4
notebook
selenium
nltk
textblob
setuptools 
wheel
networkx
matplotlib
scikit-learn
scikit-image
pandas_datareader
html5lib
vl-convert-python
openai
langchain
langchain_community
docarray
langchain_experimental
langchain_openai